<section fxLayout="column"
         fxLayoutAlign="start stretch"
         class="p8 elevated rounded card-outline-accent"
         [style.width.px]="size">
  <folder-form class="m4"
               [data]="form"
               (add)="addNote()"
               (remove)="removeNote($event)"></folder-form>
  <section fxLayout="row"
           fxLayoutAlign="end center"
           fxLayoutGap="16px"
           class="p8">
    <button mat-stroked-button
            [disabled]="!(state.hasState)"
            (click)="clearCache()">
      Clear Cache
    </button>
    <button mat-stroked-button
            class="color-primary"
            [disabled]="form?.invalid"
            (click)="save()">
      Save Folder
    </button>
  </section>
</section>
