<form [formGroup]="form">
  <section fxLayout="column"
           fxLayoutAlign="start stretch">
    <mat-form-field class="my4">
      <mat-label>Name</mat-label>
      <input formControlName="name"
             matInput>
      <mat-error *ngIf="name?.errors?.required">Name is required</mat-error>
      <mat-error *ngIf="name?.errors?.api">Name is already in use</mat-error>
    </mat-form-field>
    <section formArrayName="notes"
             fxLayout="column"
             fxLayoutAlign="start stretch">
      <section fxLayout="row"
               fxLayoutAlign="space-between center">
        <p class="m4 mat-subheading-2 bold">Notes</p>
        <button mat-icon-button
                class="color-primary"
                (click)="add.emit()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </section>
      <section class="m4 p8 rounded card-outline-accent"
               *ngFor="let note of notes.controls; let i = index"
               fxLayout="column"
               fxLayoutAlign="start stretch"
               [formGroupName]="i">
        <mat-form-field class="my4">
          <mat-label>Title</mat-label>
          <input formControlName="title"
                 matInput>
          <mat-error *ngIf="note.get('title')?.errors?.required">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Value</mat-label>
          <textarea formControlName="value"
                    matInput
                    mat-autosize
                    [matAutosizeMinRows]="4"
                    [matAutosizeMaxRows]="4"></textarea>
          <mat-error *ngIf="note.get('value')?.errors?.required">Value is required</mat-error>
        </mat-form-field>
        <button mat-stroked-button
                class="color-warn my4"
                (click)="remove.emit(i)">
          Remove Note
        </button>
      </section>
    </section>
  </section>
</form>
